{% extends 'base.html' %} {% block title %} Homepage{% endblock %} {% block
content %}
<h1 class="display-1 text-center">All Pets</h1>
<div class="row">
    {% for pet in pets %}
    <div class="col-2">
        <a href="{{ pet.id }}"
            ><img src="{{ pet.image_url() }}" class="img-thumbnail" />{{
            pet.name }}</a
        >
        {% if pet.available %}<b> is available!</b> {% else %} is not
        available.{% endif %}
    </div>
    {% endfor %}
</div>

<a href="/add/new" class="btn btn-primary btn-lg m-2">Add Pet</a>

{% endblock %}
